# Default ignored files
/../../AccountingOfFamilyFinances /.idea/shelf/
/../../AccountingOfFamilyFinances /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../AccountingOfFamilyFinances /.idea/httpRequests/
# Datasource local storage ignored files
/../../AccountingOfFamilyFinances /.idea/dataSources/
/../../AccountingOfFamilyFinances /.idea/dataSources.local.xml
